<h1>Welcome To Your Gaming Catalog!</h1>
<h3>This application allows you to create a record of games that you have played or currently playing!</h3>
<% if !user_signed_in? %>
    <h3><%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %></h3>
<% end %>

<% if user_signed_in? %>
    <h3><%= link_to "Add Game", new_game_path %></h3>
<% end %>
