<ul>
<% @categories.each do |cat| %>
    <li><%= link_to cat.name, category_games_path(cat, @game) %></li><br>
<% end %>
</ul>
<button><%= link_to 'Add Category', new_category_path %></button>
<br>
<br>
<button><%= link_to 'View All Games', games_path %></button>
